em {
  font-size:100%;
}

nav {
  display: inline;
  padding-right: 50px;
  margin-right: auto;

  font-family: sans-serif;
  margin-left: auto;
  text-decoration: none
}
.id{
  display: inline;
}
h1{
  text-decoration: underline;
  font-family: nonce;

}

header{
  border:1px solid;
  background-color: beige;
  background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ5oHV86QNTJKz1ECjsGg-SkAMMmcTjCuC7gEwpD-IVmeWxPFbVwQ');
text-align: center;
}
p {
font-family: sans-serif;
text-align: left;
margin-left: auto;
margin-right: auto;
padding: 8px 70px 8px 70px;
}

ol{
  display: inline;

}



.content-section {
  margin:10px auto 10px auto;
  text-align: center;

}

.content-section ul {
  padding: 10px auto 10px auto;
  display: inline;
}
.otherlists{
  border: 1px solid;
  margin-bottom: 5px;

}
.social{
  display: inline;
  list-style-type: none;
}
footer{
  text-align:center;
  background-color:none;
  margin: 0.5em;
  font-size: 0.9em;
}
ul{list-style-type: none,



}
